# Enforce pnpm usage in this monorepo
engine-strict=true
package-manager-strict=true

# pnpm configuration
auto-install-peers=true
dedupe-peer-dependents=false
strict-peer-dependencies=true
shared-workspace-lockfile=true
node-linker=isolated
prefer-workspace-packages=true
link-workspace-packages=true

